@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(//fonts.gstatic.com/s/mavenpro/v33/7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8Rf21nejpw.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(//fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVF9eL.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(//fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(//fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(//fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}

:root {
    --var-main-color: #ffffff;
    --var-footer-featured-border-color: rgba(255, 255, 255, 0.07);
    --var-bottom-footer-link-color: #ffffff;
    --var-nav-btn-txt-color: #ffffff;
    --var-footer-widget-body-color: #a2a2a2;
    --var-widget-border-color: #292929;
    --var-website-bg-color: #ffffff;
    --var-loading-bg: #ffffff;
    --var-nav-font-bg-color: rgba(51, 51, 51, 0);
    --var-nav-font-bg-color-after: #333333;
    --var-body-link-color-hover: hsla(0, 0%, 17%, 1);
    --main-color-color-alpha-05: hsla(0, 0%, 20%, 0.5);
    --main-color-color-alpha-06: hsla(0, 0%, 20%, 0.6);
    --fill-btn-bg-color-hover: hsla(0, 0%, 22%, 1)
}

.dima-main {
    background-color: #ffffff
}

.dima-navbar-wrap .dima-nav.nav-primary>li>a {
    letter-spacing: 0
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .dima-nav>li>a,
.dima-navbar-wrap.desk-nav .dima-navbar nav .dima-nav-end>li>a {
    font-size: 14px
}

.logo-bottom .logo P img,
.dima-navbar-wrap.desk-nav .dima-navbar .logo img {
    width: 50px !important
}

header .mobile-nav .dima-navbar {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto
}

h1 {
    letter-spacing: 0
}

h4 {
    letter-spacing: 0
}

h5 {
    letter-spacing: 0
}

h6 {
    letter-spacing: 0
}

.widget .button,
[type="submit"],
.dima-button {
    font-size: 14px
}

p,
body {
    font-weight: 400
}

.vc_custom_1589527577321 {
    background-color: #353535 !important;
}

.wpb_animate_when_almost_visible {
    opacity: 1;
}

/* next font */

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mavenpro/v33/7Auup_AqnyWWAxW2Wk3swUz56MS91Eww8Rf21nejpw.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21lVF9eL.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype')
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype')
}

#header.menu-absolute {
    border: none !important; /* Add !important to ensure it takes precedence */
    box-shadow: none !important; /* Add this to remove any box shadow as well, if present */
}
